/* change the font */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;